.main1 {
	background-color:#DDF300;
	margin:200px 0px 200px 0px;
	height: 100px;
	box-shadow:5px 5px 5px 5px #0D0D0D;
	font-size:64px;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	text-align:center;
}
.top {
	background-color:#4F63FD;
	margin:10px 0px 10px 0px;
	height:60px;
	box-shadow:0px 5px 8px 3px #0D0D0D;
	font-size:45px;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	border-width: 0 0 1px;
	margin-top: 0px;
	padding-left: 100px;
}
* {
	margin: 0 auto;
	margin-top: 0px;
}
body {
	background-color:#222222;
}
